.modal {
    display: block;
}

.main-container {
    height: 100%;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
           flex-flow: row;
}

html, body {
    height: 100%;
}

.mailbox-container, .message-container, .messages-container {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: column;
           flex-flow: column;
}

.container-toolbar {
    background: #f1f1f1;
    border-bottom: 1px solid #DDD;
    padding: 4px;
        -webkit-flex: 1;
           flex: 1;
    min-height: 42px;
    max-height: 42px;
    border-right: 1px solid #DDD;
}

.container-content {
    -webkit-flex: 1;
           flex: 1;
           overflow: auto;
    border-right: 1px solid #eee;
}



.mailbox-container {
    -webkit-flex: 1 1 20%;
           flex: 1 1 20%;
    /*background: #f1f1f1;*/
    max-width: 200px;
    min-width: 150px;
}

.mailbox-container .container-content {
    padding: 5px;
}

.mailbox-container .nav > li > a {
    padding: 3px 15px;
}

.messages-container {
    -webkit-flex: 1 1 30%;
           flex: 1 1 30%;
    max-width: 300px;
    min-width: 300px;
}

.messages-container .message-row {
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    position: relative;
    width: 100%;
}

.messages-container .message-row.unread {
    /*background: #f1f2f4;*/
    color: #4489d0;
}

.messages-container .message-row.active {
    background: #f6f7f9;
}

.message-container {
    -webkit-flex: 1;
           flex: 1;
    min-width: 300px;
}

.message-container .message-body .plain {
    white-space: pre-wrap;
}

.message-container .message-body p {
    margin: 0;
}

.message-container .container-content {
    overflow: hidden;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: column;
           flex-flow: column;
}

.message-container .message-header {
/*    -webkit-flex: 1;
           flex: 1;
    min-height: 70px;
    max-height: 70px;
*/    padding: 15px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.1);
}

.message-container .message-body {
    -webkit-flex: 1;
           flex: 1;
    overflow: auto;
    padding: 15px;
}

.unread-line {
    width: 4px;
    background: #4489d0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.messages-container .message-top-row {
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
           flex-flow: row;
}


.messages-container .message-top-row .message-from {
    padding-right: 5px;
    font-weight: 500;

    -webkit-flex: 1;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    
}
.messages-container .message-top-row .message-date {
    line-height: 18px;
    color: #999;
    font-size: 11px;
}
